/* general */
:root{

 --primary-color: #674243;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}


.container{
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card{
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border:none;
  border-radius: 5px;
}

.btn-outline{
  background-color: transparent;
  border: 1px #E2DEE7 solid;
}

.btn-primary{
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  border:none;
  border-radius: 5px;
}

.btn-primary:hover, .btn:hover{
  transform: scale(0.98);
}


.bg-primary, btn-primary{
  background-color: var(--primary-color);
  color: #fff;
}
.text-center{
  text-align: center;
}


.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
}

.btn:hover{
  transform: scale(0.98);
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3{
  grid-template-columns: repeat(3, 1fr);
}


.skip-link {
  background: #fff;
  color: var(--primary-color);
  padding: 10px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}


/* navbar */
.navbar{
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul{
  display: flex;

}

.navbar a{
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  font-size: 20px;
}

.navbar a.active{
  border: 2px #fff solid;
}

.navbar a:hover{
  border-bottom: 3px #fff solid;
}

.navbar .flex{
    justify-content: space-between;
}

.hidden{
  visibility: hidden;
  height: 0;
}

.navbar h1{
  position: relative;
  font-style: italic;
  -webkit-text-stroke: 0.3vw #674243;
  text-transform: uppercase;
  letter-spacing:2px;

}

.navbar h1::before{
  content: attr(data-text);
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-text-stroke: 0vw #000;
  border-right: 2px solid #fff;
  overflow: hidden;
  animation: animate 6s linear infinite;

}

@keyframes animate
{
  0%,10%,100%
  {
    width: 0;
  }

  70%,90%
  {
    width: 100%;
  }
}

/* main */
.main .grid{
  grid-template-columns: 4fr 3fr;
}

.lead h2{
  font-size: 40px;
  padding-bottom: 20px;
}

.lead p{
  font-size: 20px;
  text-align: left;
  padding-bottom: 20px;
}

/*Home Page*/

/* hero */
.hero{
  height: 400px;
  background-color: var(--primary-color);
  color:#fff;
  position: relative;
}

.hero h1{
  font-size: 45px;
  padding-left: 15px;
}

.hero p{
  margin: 15px;
  font-size: 25px;
  padding-bottom: 10px;
}

.hero .grid{
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.hero-form{
  position: relative;
  top:60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100px;
  justify-content: flex-end;
}

.hero-form .form-control{
  margin:30px 0;
}

.hero-form input[type='text'],
.hero-form input[type='email']{
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.hero-form input:focus{
  outline: none;
}

.sr-only{
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
}



/* skills */
.skills{
  padding-top: 100px;
}

.skills-heading{
  max-width: 500px;
  margin: auto;
}

.skills h3{
  font-size: 40px;
  color: var(--primary-color);
}

.skills .grid h3{
  font-size: 35px;
  color: var(--primary-color);
}

.skills .grid p{
  font-size: 30px;
  font-weight: bold;
}






/* Margin */
.my-1{
  margin: 1rem 0;
}

.my-2{
  margin: 1.5rem 0;
}

.my-3{
  margin: 2rem 0;
}

.my-4{
  margin: 3rem 0;
}

.my-5{
  margin: 4rem 0;
}

.m-1{
  margin: 1rem;
}

.m-2{
  margin: 1.5rem;
}

.m-3{
  margin: 2rem;
}

.m-4{
  margin: 3rem;
}

.m-5{
  margin: 4rem;
}


/* Padding */
.py-1{
  padding: : 1rem 0;
}

.py-2{
  padding: 1.5rem 0;
}

.py-3{
  padding: 2rem 0;
}

.py-4{
  padding:  3rem 0;
}

.py-5{
  padding:  4rem 0;
}

.p-1{
  padding:  1rem;
}

.p-2{
  padding: 1.5rem;
}

.p-3{
  padding:  2rem;
}

.p-4{
  padding: 3rem;
}

.p-5{
  padding: 4rem;
}



/* About page*/ 
.about-head{
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* People Page */
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url("../img/places.jpg");
  min-height:400px;
}

.pimg2{
  background-image:url("../img/syria.jpg");
  min-height:400px;
}

.pimg3{
  background-image:url("../img/kualalumpur.jpg");
  min-height:400px;
}


.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#fff;
  color:#666;
}

.section-dark{
  background-color: var(--primary-color);
  color:#ddd;
}



/* Contact Page */
.img{
  width: 300px;
  height: 300px;
}

.calendar{
  margin-top: 100px;
  margin-left: 170px;
  margin-right: 170px;
  padding: 10px;
  background-color: var(--primary-color);
}

.calendar .google{
  width: 1000px;
  height:900px; 
}

.calendar h2{
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  padding: 30px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 380px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #fff;
  color: var(--primary-color);
  transform: rotateY(180deg);
}

.flip-card-back h1{
  font-size: 30px;
  font-weight: bold;
  padding-top:30px;
}

.flip-card-back h2{
  font-size: 25px;
  padding-top: 35px;
}

.flip-card-back h3{
  font-size: 20px;
}

.flip-card-back p{
  font-size: 20px;
  font-style: italic;
}


/* Footer */
.footer .social a{
  margin: 0 10px;
  color: var(--primary-color);
}

.footer nav{
  font-size: 20px;
  text-align: center;
}

.footer p{
  font-size: 15px;
}


/* Tablets */
@media screen and (max-width: 768px){
  .grid,
  .hero .grid,
  .skills .grid,
  .main .grid,
  {
    grid-template-columns: 1fr;
    /*grid-template-rows: 1fr;*/
  }

  /*.container .grid {
    grid-template-columns: 1fr;
  }
*/

  .grid .grid-3{
    grid-template-columns: 2fr;

  }
  .navbar{
    height: 110px;
  }

  .navbar .flex{
    flex-direction: column;
  }

  .navbar ul{
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.1);
  }

  .hero{
    height: auto;
  }

  .hero-text{
    text-align: center;
    margin-top: 40px;
  }

  .hero-form {
    /*justify-self: center;
    margin: auto;

*/  
    position: absolute;
    left: 100px;
    }
    /*  .container{
        width: 400px;
      }
    */
    }

  .calendar{
    /*width: 50%;
*/  margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;

  }

  .calendar .container .google{
    width: 100%;
    height: 700px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
  }


/* Mobile */
@media screen and (max-width: 600px){
  .navbar{
    height: 110px;
  }

  .navbar .flex{
    flex-direction: column;
  }

  .navbar ul{
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.1);
  }

  .hero-form{
    width: 300px;
  }

   .grid-3 {
    grid-template-columns: 2fr;
    text-align: center;
  }

}
